/* ContactForm.css */

.contact-form-container {
    backdrop-filter: blur(80%);
    width: 50%;
    padding: 20px;
    background-color: linear-gradient(to left, #000000, #606060); /* Light background color */
    border: 1px solid #CCCECE; /* Gray border */
    border-radius: 8px;
    margin: 5% auto; /* Centering the form horizontally */
    margin-right: 20%;
    text-align: center; /* Centering content inside the form */
  }
  
  .contact-form-container h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-bottom: 15px;
    color: #CCCECE; /* Dark text color */
  }
  
  .contact-form-container label {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #CCCECE; /* Dark text color */
    margin-bottom: 8px;
  }
  
  .contact-form-container input[type="text"],
  .contact-form-container input[type="tel"],
  .contact-form-container input[type="email"],
  .contact-form-container textarea {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #CCCECE;
    margin-bottom: 15px;
    border: 1px solid #ced4da; /* Gray border */
    border-radius: 4px;
    font-size: 14px;
  }
  
  .contact-form-container textarea {
    resize: vertical; /* Allow vertical resizing of textarea */
  }
  
  .contact-form-container button {
    background-color: #606060; /* Blue background */
    color: #CCCECE; /* White text color */
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .contact-form-container button:hover {
    color: #606060;
    background-color: #CCCECE; /* Darker blue on hover */
  }
  
  .contact-form-container .form-group {
    margin-bottom: 20px;
  }
  