* {
  font-family: 'Montserrat', sans-serif;
}

body {
  overflow-x: hidden;
  background-color: transparent;
  background: linear-gradient(to left, #000000, #606060);
}
@media screen and (max-width: 768px) {
  .cl-title{
      color: #606060;
  }
  .bg-service {
      background-color: #CCCECE;
      color: #606060
  }
  
}